In [ ]:
import pandas as pd
import sqlite3

# Establish a connection to your database
conn = sqlite3.connect('your_database.db')

# Define SQL queries for each table
sql_table1 = "SELECT * FROM table1"
sql_table2 = "SELECT * FROM table2"
sql_table3 = "SELECT * FROM table3"

# Read data from each table into separate DataFrames
df_table1 = pd.read_sql_query(sql_table1, conn)
df_table2 = pd.read_sql_query(sql_table2, conn)
df_table3 = pd.read_sql_query(sql_table3, conn)

# Print the head of each DataFrame
print("Table 1:")
print(df_table1.head())

print("Table 2:")
print(df_table2.head())

print("Table 3:")
print(df_table3.head())

# Close the database connection
conn.close()

In [ ]:
import pandas as pd

# Assuming 'inv_hd1', 'inv_hd2', 'inv_hd3' are your DataFrames

# Create a list of DataFrames
dataframes = [inv_hd1, inv_hd2, inv_hd3]

# Apply the operations on each DataFrame in the list
for df in dataframes:
    df = df.where(pd.notna(df), None)
    df = df.dropna(axis=1, how='all')
    print(df)